* {
  margin: 0;
  padding: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}



.main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.sidebar {
  width: 250px;
  background-color: #dcdcdc;
  box-sizing: border-box;
  overflow: hidden;
  position: sticky;
  top: 25px;
  text-align: center;
  letter-spacing:5px;
}



.sidemenu {
  padding-top: 50px;
  line-height:70px;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  
}


.fixed-content {
  height: auto;
  
  box-sizing: border-box;
 
}

