* {
  margin: 0;
  padding: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}



.main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.sidebar {
  width: 250px;
  background-color: #dcdcdc;
  box-sizing: border-box;
  overflow: hidden;
  position: sticky;
  top: 25px;
  text-align: center;
  letter-spacing:5px;
}
li:hover {
  color: pink;
  background-color: gray;
}



.sidemenu {
  padding-top: 50px;
  line-height:70px;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  
}


.fixed-content {
  height: auto;
  
  box-sizing: border-box;
 
}



.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px, 200px;
  gap: 20px;
}

.grid-item {
  background-color: gray;
  text-align: center;
}